<script runat="server">
  Platform.Load("core", "1.1.1");

  var survey = Platform.Request.GetQueryStringParameter('survey');

  var surveyPath = 'Content Builder\\sfmc_vuejs_progressive_survey\\configurations\\survey' + '\\ ' + survey;
  var surveyConfigurationPath = surveyPath + '\\survey_configuration'
  surveyConfigurationPath = surveyConfigurationPath.replace(/(?<=\\)\ /g, '')
  var surveyConfiguration = Platform.Function.ContentBlockByName(surveyConfigurationPath)

  var applicationConfigurationPath = 'Content Builder\\sfmc_vuejs_progressive_survey\\configurations\\app_configuration'
  var applicationConfiguration = Platform.Function.ContentBlockByName(applicationConfigurationPath)
  var applicationConfigurationJSON = Platform.Function.ParseJSON(applicationConfiguration)
  var map = applicationConfigurationJSON.map;

  var unauthorizedUser = Platform.Function.ContentBlockByName("Content Builder\\sfmc_vuejs_progressive_survey\\frontend\\components\\unauthorized_user")
  var brandingBar = Platform.Function.ContentBlockByName("Content Builder\\sfmc_vuejs_progressive_survey\\frontend\\components\\branding_bar")
  var surveyFormHorizontal = Platform.Function.ContentBlockByName("Content Builder\\sfmc_vuejs_progressive_survey\\frontend\\components\\survey_form_horizontal")
  var legal = Platform.Function.ContentBlockByName("Content Builder\\sfmc_vuejs_progressive_survey\\frontend\\components\\legal")
  var appJS = Platform.Function.ContentBlockByName("Content Builder\\sfmc_vuejs_progressive_survey\\frontend\\app_js")

</script>

%%=Concat('<sc','rip','t>')=%%

  Vue.use(VueToast, {
  position: 'top-right',
  duration: 6000,
  dismissable: true
  });

  Vue.use(VueFormulate)
  Vue.use(VTooltip)

  const applicationConfiguration = <ctrl:var name=applicationConfiguration />
  const surveyConfigurationJSON = <ctrl:var name=surveyConfiguration />
  const surveyConfiguration = surveyConfigurationJSON.survey;

  const survey = "<ctrl:var name=survey />"


  <ctrl:var name=brandingBar />
  <ctrl:var name=unauthorizedUser />
  <ctrl:var name=surveyFormHorizontal />
  <ctrl:var name=legal />
  <ctrl:var name=appJS />

  %%=Concat('</sc','rip','t>')=%%