<script runat="server">
  Platform.Load("core", "1.1.1");

  var survey = Platform.Request.GetQueryStringParameter('survey');

  var surveyPath = 'Content Builder\\sfmc_vuejs_progressive_survey\\configurations\\survey' + '\\ ' + survey;
  var surveyConfigurationPath = surveyPath + '\\survey_configuration'
  surveyConfigurationPath = surveyConfigurationPath.replace(/(?<=\\)\ /g, '')
  var surveyConfiguration = Platform.Function.ContentBlockByName(surveyConfigurationPath)

  var applicationConfiguration = Platform.Function.ContentBlockByID('111557')
  var applicationConfigurationJSON = Platform.Function.ParseJSON(applicationConfiguration)

  var unauthorizedUser = Platform.Function.ContentBlockByID('111564')
  var brandingBar = Platform.Function.ContentBlockByID('111562')
  var surveyFormHorizontal = Platform.Function.ContentBlockByID('123133')
  var legal = Platform.Function.ContentBlockByID('111563')
  var appJS = Platform.Function.ContentBlockByID('111560')

</script>

%%=Concat('<sc','rip','t>')=%%

  Vue.use(VueToast, {
  position: 'top-right',
  duration: 6000,
  dismissable: true
  });

  Vue.use(VueFormulate)
  Vue.use(VTooltip)

  const applicationConfiguration = <ctrl:var name=applicationConfiguration />
  const surveyConfigurationJSON = <ctrl:var name=surveyConfiguration />
  const surveyConfiguration = surveyConfigurationJSON.survey;

  const survey = "<ctrl:var name=survey />"

  <ctrl:var name=brandingBar />
  <ctrl:var name=unauthorizedUser />
  <ctrl:var name=surveyFormHorizontal />
  <ctrl:var name=legal />
  <ctrl:var name=appJS />

  %%=Concat('</sc','rip','t>')=%%