/*
What is this component?
*/
Vue.component('branding-bar', {
props: {
branding: Object,
applicationConfiguration: Object
},
mounted() {

},
data() {
return {
darkModeToggle: false
}
},
watch: {

},
methods: {

},
template: `
<div>
  <!-- <v-card elevation="0"> -->
    <v-app-bar elevation="0" :color="branding.colors.paper" height="100">
      <!-- <v-app-bar-nav-icon></v-app-bar-nav-icon> -->

      <v-toolbar-title>
        <v-img height="100%" width="auto" :src="branding.logo"></v-img>
      </v-toolbar-title>

      <v-spacer></v-spacer>
    </v-app-bar>
  <!-- </v-card> -->
</div>
`
})