/*
What is this component?
*/
Vue.component('branding-bar', {
props: {
branding: Object,
applicationConfiguration: Object
},
mounted() {

},
data() {
return {
darkModeToggle: false
}
},
watch: {

},
methods: {

},
template: `
<div>
    <v-app-bar elevation="3" :color="branding.colors.paper" height="100">
      <v-toolbar-title>
        <a :href="applicationConfiguration.branding.websiteURL" target="_blank" >
          <img :height="applicationConfiguration.branding.logoScale" :alt="applicationConfiguration.branding.brandName" :src="branding.logo" />
        </a>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>
</div>
`
})