/*
What is this component?
*/
Vue.component('legal', {
props: {
legal: Object,
branding: Object
},
mounted() {

},
data() {
return {

}
},
watch: {

},
methods: {

},
template: `
<v-row
  class="mt-5"
>
  <v-col cols="10" class="flex text-center mx-auto">
    <v-divider class="my-4"></v-divider>
    <v-row justify="center">
      <v-col 
      cols="2">
        <img width="30%" src="https://image.s11.sfmc-content.com/lib/fe37157175640475741d74/m/1/3d479be2-2545-4452-a537-c7b8b791d527.png" />
      </v-col>
      <v-col cols="5" class="text-caption">
        Kitchen planning and installation services are provided by Traemand and its partner network of independent, licensed, and insured contractors. Traemand and IKEA US RETAIL LLC are part of the Ingka Group.
      </v-col>
    </v-row>
    <v-row
    align="center"
    justify="space-around"
  >
  <v-col
    cols="12"
    md="4"
    class="text-caption"
  >
    <v-btn 
    small
    text
    href="mailto:CustomerServiceTeam@Traemand.com"
    >
      Contact Us
    </v-btn>
    <v-btn
      small
      text
      href="https://traemand.com/privacy-policy/"
    >
      Privacy Policy
    </v-btn>
    <v-btn
      small
      text
      href=""
    >
      Preference Center
  </v-btn>   
  </v-col>
  </v-row>

  </v-col>
</v-row>
`
})