/*
  Main Survey Form Elements
  All form information is provided by the nested survey_configuration files
*/
Vue.component('survey-form-horizontal', {
  props: {
    branding: Object,
    survey: Array,
    surveyid: String,
    formSubmitting: Boolean,
    debug: Boolean
  },
  data() {
    return {
      formInputs: {},
      currentStep: 1,
      forceRender: true,
      subscriber: {
        subscriberKey: subscriberKey,
        subscriberId: subscriberId,
        emailAddress: emailAddress
      }
    }
  },
  methods: {
    validate() {
      const refs = this.$refs
      const refKeys = Object.keys(refs)
      const sectionOutput = []

      refKeys.forEach((key) => {
        const refArray = refs[key]
        const hasErrors = refArray.find((ref) => Object.values(ref.errorBag).includes(true)) && true || false
        sectionOutput.push(hasErrors)

        this.debug && console.log({key, hasErrors})
      })
      return sectionOutput
    },
    validateSection(sectionIndex) {
      const refs = this.$refs
      const refKeys = Object.keys(refs)
      const section = refs[refKeys[sectionIndex]]
      const hasErrors = section && section.find((ref) => Object.values(ref.errorBag).includes(true)) && true || false

      this.debug && console.log({section, hasErrors})
      return hasErrors
    },
    submitSurveyForm(event) {
      let emit = this.formInputs
      const validate = this.validate();
      const hasErrors = validate.some((section) => section !== false)

      if (!hasErrors) {
        emit.surveyId = this.surveyid
        emit.subscriberKey = this.subscriber.subscriberKey;
        emit.subscriberId = this.subscriber.subscriberId;
        emit.emailAddress = this.subscriber.emailAddress;

        // console.log(emit)
        this.$emit('submit-preference-form', emit)
      } else {
        Vue.$toast.error(`Please fill in all required fields`)
      }

      this.debug && console.log({hasErrors, validate})
    },
    enableFormFields() {
      const section = this.currentStep - 1;
      const formSection = this.survey[section].form;

      formSection.forEach(input => {
        const inputName = input.name;
        if (Object.prototype.hasOwnProperty.call(input, 'disabled')) {
          input.disabled = false;
        }
      })

    },
    nextSection() {
      const section = this.currentStep - 1;
      const formSection = this.survey[section].form;
      console.log(section)
      const hasErrors = this.validateSection(section)

      if (!hasErrors) {
        formSection.forEach(input => {
          const inputName = input.name;
          if (Object.prototype.hasOwnProperty.call(input, 'disabled')) {
            input.disabled = true;
          }
        })

        this.currentStep = this.currentStep + 1
      } else {
        Vue.$toast.error(`Please fill in all Required fields`)
      }
    },
  },
  computed: {
    hasRules() {
      const currentFormSectionIndex = this.currentStep - 1;
      const currentFormSection = this.survey[currentFormSectionIndex]
      return currentFormSection.form.some(section => Object.prototype.hasOwnProperty.call(section, 'rules'))
    },
    hasDisabled() {
      const currentFormSectionIndex = this.currentStep - 1;
      const currentFormSection = this.survey[currentFormSectionIndex]
      return currentFormSection.form.some(section => Object.prototype.hasOwnProperty.call(section, 'disabled'))
    },
    labels() {
      return this.survey.map((s) => s.label)
    },
    references() {
      return this.survey.map((s) => s.ref)
    },
    conditionals() {
      const currentFormSectionIndex = this.currentStep - 1;
      const currentFormSection = this.survey[currentFormSectionIndex]
      if (
        Object.prototype.hasOwnProperty.call(currentFormSection, 'conditionals')
      ) {
        const form = currentFormSection.form;
        const conditional = currentFormSection.conditionals;
        let conditionalOut = ''

        for (const f in form) {
          const input = form[f]
          const inputName = input.name;
          let inputType = input.type

          if (inputType === 'text') {
            inputType = 'input'
          }
          const conditionalObject = conditional.find((cond) => cond.name === inputName)
          if (conditionalObject) {
            const conditionalValues = conditionalObject.value;
            const formInputValue = this.formInputs[conditionalObject.name]

            if (conditionalValues[formInputValue]) {
              // conditionalOut = `<p v-show="formInputs['${conditionalObject.name}'] === '${co}'">${conditionalValues[co]}</p>`
              conditionalOut = `<span>
              <span class="mdi mdi-alert-circle" style="color: blue;"></span>
                ${conditionalValues[formInputValue]}
              </span>`
              document.getElementById(`conditional_${this.currentStep}`).innerHTML = conditionalOut
            } else {
              document.getElementById(`conditional_${this.currentStep}`).innerHTML = `<span></span>`
            }
          }

        }

        return null
      }
      return null
    }
  },
  template: `
<section>
  <v-row class="mx-auto">
    <v-col class="mx-auto" cols="12" md="9">
      <v-stepper light v-model="currentStep" class="p-4">
        <v-stepper-header>
          <span v-for="(label, index) in labels" :key="index + 1">
            <v-stepper-step color="#2e3543" :complete="currentStep > index + 1" :step="index + 1">
              {{label}}
            </v-stepper-step>
            <v-divider></v-divider>
          </span>
        </v-stepper-header>
        <span v-for="(s, index) in survey" :key="index + 1">
          <v-stepper-content class="flex justify-space-around pa-5" :step="index + 1">
            <v-card flat color="" class="mb-12 pa-5" min-height="250">
              <v-row class="justify-end">
                <v-icon v-if="hasDisabled" large @click="enableFormFields">
                  mdi-pencil
                </v-icon>
              </v-row>
              <v-row class="justify-center">
                <v-col cols="12" md="10" class="">
                  <!-- Section Copy-->
                  <span v-html="s.copy"></span>
                  <v-divider class="my-3"></v-divider>
                  <span v-for="(f, index) in s.form" :key="index">
                    <v-form :ref="'form_' + s.ref">
                      <!-- handle text inputs -->
                      <v-col v-if="f.type === 'textarea'" cols="12" md="8">
                        <span v-if="f.label">{{f.label}}</span>
                        <v-textarea v-model="formInputs[f.name]" :id="f.name" outlined></v-textarea>
                      </v-col>
                      <!-- handle text inputs -->
                      <v-col v-if="f.type === 'text'" cols="12" md="8">
                        <span v-if="f.label">{{f.label}}</span>
                        <v-text-field v-model="formInputs[f.name]" :id="f.name" :disabled="f.disabled"
                          :required="f.required" :rules="Object.values(f.rules)" update:error="true" outlined>
                        </v-text-field>
                      </v-col>
                      <!-- handle checkbox inputs -->
                      <v-col v-if="f.type ==='checkbox'" cols="12" md="10">
                        <span v-if="f.label">{{f.label}}</span>
                        <span v-if="f.rules">
                          <v-checkbox v-for="(o, index) in f.options" :rules="Object.values(f.rules)" :key="o.label"
                            v-model="formInputs[o.value]">
                            <template v-slot:label>
                              <div>
                                <span v-html="o.label"></span>
                              </div>
                            </template>
                          </v-checkbox>
                        </span>
                        <span v-else>
                          <v-checkbox v-for="(o, index) in f.options" :key="o.label" v-model="formInputs[o.value]">
                            <template v-slot:label>
                              <div>
                                <span v-html="o.label"></span>
                              </div>
                            </template>
                          </v-checkbox>
                        </span>
                      </v-col>
                      <!-- handle radio inputs -->
                      <v-col v-if="f.type ==='radio'" cols="12" md="10">
                        <span v-if="f.label">{{f.label}}</span>
                        <v-radio-group v-model="formInputs[f.name]" :rules="Object.values(f.rules)" row>
                          <span v-for="r in f.options" :key="r.label">
                            <v-radio :value="r.value">
                              <template v-slot:label>
                                <div>
                                  {{r.label}}
                                  <v-icon v-if="r.tooltip" small slot="activator" v-tooltip.bottom-start="r.tooltip">
                                    mdi-information
                                  </v-icon>
                                </div>
                              </template>
                            </v-radio>
                          </span>
                        </v-radio-group>
                      </v-col>
                      <!-- handle select option inputs -->
                      <v-col v-if="f.type === 'select'" class="" cols="12" md="8">
                        <v-row>
                          <v-col cols="12">
                            <span v-if="f.label">{{f.label}}</span>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col cols="12">
                            <v-select :items="f.options" v-model="formInputs[f.name]" :rules="Object.values(f.rules)"
                              outlined></v-select>
                          </v-col>
                        </v-row>
                      </v-col>
                    </v-form>
                  </span>
                </v-col>
              </v-row>
            </v-card>
            <v-btn v-if="currentStep !== 1" dark color="#0058a3" @click="currentStep = currentStep - 1">
              Back
            </v-btn>
            <v-btn v-if="currentStep !== survey.length" dark color="#0058a3" @click="nextSection()">
              Next
            </v-btn>
            <v-btn v-if="currentStep === survey.length" dark color="#0058a3" @click="submitSurveyForm">
              Submit
            </v-btn>
            <v-btn @click="formInputs = {}" text>
              Reset Form
            </v-btn>
          </v-stepper-content>
        </span>
      </v-stepper>
    </v-col>
  </v-row>
</section>
`
})