/*
What is this component?
*/
Vue.component('survey-form', {
  props: {
    branding: Object,
    surveyConfiguration: Object,
    formSubmitting: Boolean
  },
  beforeMount() {

  },
  data() {
    return {
      validation: {},
      formInputs: {},
      currentStep: 1,
      forceRender: true,
      survey: [
        {
          label: "Confirm Address",
          subtitle: "Please confirm that we have the correct address.",
          copy: "<h3 class='text-center mt-5'>We're excited to work with you! </h3> <br><br> Please take a moment to complete a few questions to confirm you're ready for your upcoming installation service.",
          form: [
            {
              "type": "text",
              "label": "Address",
              "name": "address1",
              "disabled": "true",

            },
            {
              "type": "text",
              "label": "ZIP Code",
              "name": "zipCode",
              "pattern": "[0-9]*",
              "disabled": "true",
              "validation": "matches:/^[0-9]{5}(?:-[0-9]{4})?$/",
              "validation-messages": {
                "matches": "Improper ZipCode."
              }
            }
          ]
        },
        {
          label: "Confirm Phone Number",
          subtitle: "Please confirm that we have the correct Phone Number.",
          copy: "Confirm Primary Phone Number",
          form: [
            {
              "type": "text",
              "label": "Phone Number",
              "name": "phone",
              "inputmode": "numeric",
              "disabled": "true",
              "pattern": "[0-9]*",
              "validation": "matches:/^[0-9-]+$/",
              "validation-messages": {
                "matches": "Phone number should only include numbers and dashes."
              }
            }
          ]
        }]
    }
  },
  methods: {
    submitSurveyForm(event) {
      let emit = this.formInputs
      console.log(event)
      this.$emit('submit-preference-form', emit)
    },
    enableFormFields() {
      const section = this.currentStep - 1;
      const formSection = this.survey[section].form;

      formSection.map(input => {
        const inputName = input.name;
        document.getElementsByName(inputName)[0].disabled = false
      })
      
    },
    nextSection() {
      const section = this.currentStep - 1;
      const formSection = this.survey[section].form;

      formSection.map(input => {
        const inputName = input.name;
        document.getElementsByName(inputName)[0].disabled = 'disabled'
      })

      this.currentStep = this.currentStep + 1
    }
  },
  watch: {
  },
  computed: {
  },
  template: `
<section>
  <v-row class="justify-center">
    <v-col cols="6">
      <v-stepper class="mx-auto" v-model="currentStep" vertical>
        <span v-for="(s, index) in survey" :key="index + 1">
          <v-stepper-step :complete="currentStep > index + 1" :step="index + 1">
            {{s.label}}
            <small>{{s.subtitle}}</small>
          </v-stepper-step>

          <v-stepper-content class="flex justify-space-around" :step="index + 1">
            <v-card color="grey lighten-4" class="mb-12 pa-5" min-height="250">
              <v-row class="justify-end">
                <v-icon 
                  large
                  @click="enableFormFields"
                >
                  mdi-pencil
                </v-icon>
              </v-row>
              <v-row class="justify-center">
                <v-col cols="7" class="">
                  <span v-html="s.copy"></span> 
                  <formulate-form v-if="forceRender" @validation="validation[index + 1] = $event" class="my-5" :values="formInputs"
                    v-model="formInputs" :schema="s.form" />
                </v-col>
              </v-row>

            </v-card>
            <v-btn v-if="currentStep !== survey.length" color="primary" @click="nextSection">
              Continue
            </v-btn>
            <v-btn v-if="currentStep !== 1" color="primary" @click="currentStep = currentStep - 1">
              Back
            </v-btn>
            <v-btn v-if="currentStep === survey.length" color="primary" @click="submitSurveyForm">
              Submit
            </v-btn>
            <v-btn @click="formInputs = {}" text>
              Cancel
            </v-btn>
          </v-stepper-content>
        </span>
    </v-col>
  </v-row>
</section>
`
})